<table class="table"></table>
<thead>
    <tr>
        <th scope="col">ID #</th>
        <th scope="col">Department Name</th>
        <th scope="col">Procedure</th>
        <th scope="col">Actions</th>
    </tr>
</thead>
<tbody>
    {{#each floor}}
    {{dataValues}}
    <tr>
        <th scope="row">{{id}}</th>
        <td>{{department}}</td>
        <td>{{procedure}}</td>
        <td><a href="" class="btn">Edit</a><a href="" class="btn">Delete</a></td>
    </tr>
</tbody>
{{/each}}
</table>