<section class="d-flex flex-row justify-content-between">
  <div class="col-xs-12 col-sm-12 col-md-7 ">
    <div class="card border-light gradient col-xs-12 text-white">
      <img
        src="https://images.pexels.com/photos/40568/medical-appointment-doctor-healthcare-40568.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        class="card-steth" style="height:18rem" alt="...">
      <div class="card-img-overlay">
        <h5 class="card-title fw-normal">Welcome</h5>
        <h4 class="card-title fw-bold">{{username}}</h4>
<h4 class="card-text fw-normal fs-5">Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups.</h4>
      </div>
    </div>

    <div class="card border-light col-xs-12" style="height: 8rem;">
      <div class="card-body">
        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="fa-10bi bi-calendar2-date-fill" viewBox="0 0 16 16">
  <path d="M9.402 10.246c.625 0 1.184-.484 1.184-1.18 0-.832-.527-1.23-1.16-1.23-.586 0-1.168.387-1.168 1.21 0 .817.543 1.2 1.144 1.2z"/>
  <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zm9.954 3H2.545c-.3 0-.545.224-.545.5v1c0 .276.244.5.545.5h10.91c.3 0 .545-.224.545-.5v-1c0-.276-.244-.5-.546-.5zm-4.118 9.79c1.258 0 2-1.067 2-2.872 0-1.934-.781-2.668-1.953-2.668-.926 0-1.797.672-1.797 1.809 0 1.16.824 1.77 1.676 1.77.746 0 1.23-.376 1.383-.79h.027c-.004 1.316-.461 2.164-1.305 2.164-.664 0-1.008-.45-1.05-.82h-.684c.047.64.594 1.406 1.703 1.406zm-2.89-5.435h-.633A12.6 12.6 0 0 0 4.5 8.16v.695c.375-.257.969-.62 1.258-.777h.012v4.61h.675V7.354z"/>
</svg>
        <p class="card-text padding: 10rem;">We are happy to be of service to you and trust you will be able to find all
          you need today.
          Together we will build a healthier Canada &#128513;
        </p>
      </div>
    </div>
    <div>
      <h4 class="text-muted">Top Doctors</h4>

      <div class="row">
        {{#each topDoctors as |user| }}
        <div class="col-12 col-md-6">
          <div class="card border-light">
            <img class="card-steth"
              src="https://images.pexels.com/photos/5998474/pexels-photo-5998474.jpeg?auto=compress&cs=tinysrgb&w=600"
              class="card-img-top" style="height: 18rem;" alt="...">
            <div class="card-body">
              <p class="card-text">{{user.username}}</p>
              <p class="card-text">{{user.email}}</p>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
  <div class="col-md-1"></div>
  <div class="col-md-4 container">
    <div class="card border-light">
      <div class="card-body">
        <p class="card-text padding: 10rem;">We are happy to be of service to you and trust you will be able to find all
          you need today.
          Together we will build a healthier Canada &#128513;
        </p>
      </div>
      <div>
        <h5 class="text-muted">Today's Appointments</h5>
      </div>
      <div class="column p-2">
        <div class="col-12">
          <div class="card p-2">
            <p class="card-text">9:00 am to 9:30 am</p>
            <div class="d-flex">
              <img class="avatar "
                src="https://images.pexels.com/photos/5998474/pexels-photo-5998474.jpeg?auto=compress&cs=tinysrgb&w=600"
                alt="profile picture of a smiling girl in black graduation cap and black gown with red and white trim">
              <div class="card-body">
                <p class="card-text fw-bold">Maurice Chestnut</p>
                <div class="row">
                  <div class="col-6">
                    <p class="card-text text-muted fs-6 text-nowrap">Consultation with</p>
                  </div>
                  <div class="col-6">
                    <p class="card-text fw-bold fs-6">Dr.Pikachu</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="card p-2">
            <p class="card-text">9:00 am to 9:30 am</p>
            <div class="d-flex">
              <img class="avatar "
                src="https://images.pexels.com/photos/5998474/pexels-photo-5998474.jpeg?auto=compress&cs=tinysrgb&w=600"
                alt="profile picture of a smiling girl in black graduation cap and black gown with red and white trim">
              <div class="card-body">
                <p class="card-text fw-bold">Maurice Chestnut</p>
                <div class="row">
                  <div class="col-6">
                    <p class="card-text text-muted fs-6 text-nowrap">Consultation with</p>
                  </div>
                  <div class="col-6">
                    <p class="card-text fw-bold fs-6">Dr.Pikachu</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="card p-2">
            <p class="card-text">9:00 am to 9:30 am</p>
            <div class="d-flex">
              <img class="avatar "
                src="https://images.pexels.com/photos/5998474/pexels-photo-5998474.jpeg?auto=compress&cs=tinysrgb&w=600"
                alt="profile picture of a smiling girl in black graduation cap and black gown with red and white trim">
              <div class="card-body">
                <p class="card-text fw-bold">Maurice Chestnut</p>
                <div class="row">
                  <div class="col-6">
                    <p class="card-text text-muted fs-6 text-nowrap">Consultation with</p>
                  </div>
                  <div class="col-6">
                    <p class="card-text fw-bold fs-6">Dr.Pikachu</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="card p-2">
            <p class="card-text">9:00 am to 9:30 am</p>
            <div class="d-flex">
              <img class="avatar "
                src="https://images.pexels.com/photos/5998474/pexels-photo-5998474.jpeg?auto=compress&cs=tinysrgb&w=600"
                alt="profile picture of a smiling girl in black graduation cap and black gown with red and white trim">
              <div class="card-body">
                <p class="card-text fw-bold">Maurice Chestnut</p>
                <div class="row">
                  <div class="col-6">
                    <p class="card-text text-muted fs-6 text-nowrap">Consultation with</p>
                  </div>
                  <div class="col-6">
                    <p class="card-text fw-bold fs-6">Dr.Pikachu</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>



  </div>

</section>